.card_header_color {
    background-color: #0babab ; 
    color: white;
}

.carousel .item {
    height: 70%;
    transition:.6s ease-in-out left;
  }
  
 .search-box {
     background:#0babab; 
 }

.btn {
    background:#1875D0;
}
body {
    font-family: 'Poppins', sans-serif;
}

h5 {
    font-family: 'Poppins', sans-serif;
}
/* The card */
.card {
    position: relative;
   /* height: 450px;*/
  /*  width: 900px;*/
   /* margin: 200px auto;*/
   border: 0px solid rgba(0,0,0,.125);
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    
  }
  
  #map {
    height: 50%;
    width:100%;
    
  }
 
  
  p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #4B4B4B;
  }
  
  
  /* Floating action button */
  .fab {
    position: absolute;
    right: 23px;
    bottom: -20px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 5px;
    background-color: #1875D0;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;

  }
  
  .img_circle {
    width:'150px' ;
    height:'150px';
  }

  .carousel-content {
    position: absolute;
    bottom: 50%;
    left: 3%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }

  .h1-title {
    font-family: 'Raleway', sans-serif;
  }


button {
    float: right;
  }

  
.yelp-img{
  display:inline-block;
  height: auto;
  width:100%;
  border-radius: 25px;
}
