.form-contain {
    display: inline-block;
    position: fixed;
    padding: 10px;
  }

  .container {
    overflow: auto;
    width: 60%;
    display: block;
    margin: 10px auto;
    padding: 20px;
    height: 80vh;
  }

  h2 {
    text-align: center;

  }

  p {
    text-align: center;
  }

  .thumbnail {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    float: left;
  }

  .address {
    margin-bottom: 120px;
  }